<p style="color: green"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody id="rows">
    <%= render @people %>
  </tbody>
</table>

<%= turbo_frame_tag "pagination", src: people_path(format: :turbo_stream), loading: :lazy %>


